// Main Colors
$primary-color: #348ABF;
$secondary-color: #B48EAD;
$highlight: #B3078D;
$text: #D8DEE9;
$gray-blue: #79819b;
$white: #ECEFF4;
$black:#131540;
$lighten-black: #4C566A;
$blue-black: #131540;
$blue-darken:#202354;
$green-darken: #2C3635;
$danger: #BF616A;
$success: #A3BE8C;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #2E3440;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 10%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #5e6980;
